*{
	padding: 0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
body{
	background-image: url("../../../img/bg/bg.jpg");
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}