.nav-links{
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
.nav-links li a{
  text-decoration:none;
  color: #fff;
  padding:10px;
  width: 100%;
}
.icon{
  display: none;
}
@media(max-width: 768px){
  .icon{
    display: block;
  }
  .nav-links li a{
    
  }
}